* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
}

body {
    margin: 0 auto;
    background-color: #FEDB41;
    font-family: Ubuntu;
    min-width: 500px;
}

/*-------------FOOTER-------------*/
footer {
    position: absolute;
    bottom: 0px;
    height: 8vh;
    width: 100%;
    background-color: #383e4c;
    color: #60705e;
    margin-top: 7vh;
    min-width: 500px;
}

/*-------------Ajustes navbar con flexbox-------------*/
nav input#check {
    display: none;
}

.header {
    background-color: #383e4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    padding: 5px 3%;
    font-size: 20px;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffbc0e;
}


.header .btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


nav label#btnMenu {
    float: right;
    margin-top: 2vh;
    /*MOD*/
    margin-right: 40px;
    display: none;
    cursor: pointer;
    line-height: 2.8vh;
    height: 7vh;
    /*MOD*/
}


/*-------------Estilo tabla Ranking-------------*/
div#tablaRanking {
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: black;
    overflow: hidden;
    background-color: #AFDAFF;
    box-shadow: 5px 10px 10px black;
    font-size: 24px;

}

div#tablaRanking>table {
    margin: auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

thead {
    background-color: #FEA832;
    border-bottom: solid 5px black;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) td {
    background: #E9FAFF;
}

tr:hover td {
    background-color: #383E4C;
}



/*-------------Estilo de los divs para la ventana del canvas-------------*/
main h1#mensajeAviso {
    display: none;
}

main div#juego {
    width: 100%;
    display: flex;
    justify-content: center;
}

main div#juego canvas {
    width: 960px;
    border: 1px solid black;
    margin-top: 3vh;
    /*MOD*/
    background-color: #E9FAFF;
}





/*-------------Media Query Moviles-------------*/
@media (max-width: 960px) {

    nav label#btnMenu {
        display: block;
    }

    /*-------------Ajustes de la navbar-------------*/
    .nav-links {
        margin-top: 0.4vh;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #383e4c;
        top: 11vh;
        left: -100%;
        text-align: center;
        transition: all 1s;
        z-index: 10;
    }

    nav a#aLogo {
        padding-left: 20px;
    }

    main div#juego canvas {
        display: none;
    }

    main h1#mensajeAviso {
        display: inline-block;
    }

    .nav-links li {
        width: 100%;
        margin: 3vh 0;
        line-height: 4.2vh;
    }

    .nav-links li a,
    .btn button {
        font-size: 30px;
    }

    .nav-links li a:hover,
    .nav-links li a#active {
        background: none;
        color: red;
    }

    nav input#check:checked~ul {
        left: 0;
    }
}